@media(min-width: 770px){
    .container-1{
        display: flex;
        /*
        align-items: flex-start;
        align-items: flex-end;
        align-items: center;
        flex-direction: column;
        */
        
    }
    .container-2{
        display: flex;
        /*
        justify-content: flex-end;
        justify-content: center;
        justify-content: space-around;
        */
        justify-content: space-between;
        
    }
}

.container-1 div, .container-2 div, .container-3 div{
    border: 1px #ccc solid;
    padding: 10px;
}
.container-2 div{
    flex-basis: 30%;
}
.container-3 {
    display: flex;
    flex-wrap: wrap;
}
.container-3-box{
    flex-basis: 30%;
}
.box1{
    flex: 2;
    order: 2;
}
.box2{
    flex: 1;
    order: 1;
}
.box3{
    flex: 1;
    order: 3;
}